* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dce35b;
  background: linear-gradient(to right, #6aeb6e, #6be66b);
}

.box {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  padding-top: 10px;
  color: darkgreen;
}

h3 {
  text-transform: capitalize;
  margin: 10px;
}

.project-box {
  border: 1px solid black;
  border-radius: 20px;
  width: 900px;
  margin-top: 10px;
}

.project-box ul li {
  margin: 0.5% 0;
}

.project-box ul li button {
  // float: right;
  // margin-right: 20px;
}
